.wrapper {
  display: flex;
  color: #ffffff;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  user-select: none;
  background-color: #15202b;
}

.content {
  display: flex;
  display: flex;
  justify-content: space-between;
  width: 66.666667%;
}
