.wrapper {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}

.twitterIconContainer {
  margin: 1rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.navContainer {
  flex: 1 1 0%;
}
